.App {
  width: 50%;
  max-width: 1280px;
  min-width: 460px;
  margin: 20px auto;
  text-align: center;
}

.icon-small {
  width: 25px;
}

.weather-wrapper {
  width: 320px;
  border-radius: 20px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 25%);
  color: #fff;
  background-image: linear-gradient(to bottom right, #0331ff7a, #0030ff);
  margin: 0px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.weather-top h4 {
  font-size: 20px;
  padding: 10px 0;
}

.weather-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.weather-icon {
  margin: -15px 0 0 0;
}

.weather-degree {
  font-size: 45px;
  font-weight: 400;
}

.weather-bottom {
  font-size: 10px;
}

.weather-bottom-first,
.weather-bottom-second {
  display: flex;
  justify-content: space-between;
}
